

<h1>Bienvenido</h1>

<table>
  <tr>
    <th>IDENTIFICADOR</th>
    <th>TITULO</th>
    <th>VALORACION MEDIA</th>
    <th>DETALLES</th>
  </tr>
  <tr *ngFor="let v of listaVideojuegos">
    <td>{{v.id}}</td>
    <td>{{v.titulo}}</td>
    <td>{{v.valoracionMedia}}</td>
    <td><a routerLink="/detalles">Ver detalles</a></td>
  </tr>
  <tr *ngIf="listaVideojuegos.length==0">
    <td colspan="3">NO HAY VIDEOJUEGOS GUARDADOS</td>
  </tr>
</table>

<h2>DAR DE ALTA UN VIDEOJUEGO</h2>

<div>
  <label>Titulo: </label>
  <input type="text" [(ngModel)]="titulo"><br/>
  <label>Compañía: </label>
  <input type="text" [(ngModel)]="compania"><br/>
  <label>Imagen: </label>
  <input type="text" [(ngModel)]="imagen"><br/>
  <label>Valoración media: </label>
  <input type="number" [(ngModel)]="valoracionMedia">
</div>
<br/>
<button >Dar de alta</button>
<button routerLink="">Volver al inicio</button>

