
<p>
  contacto works!
</p>

<h2>Contacta con nosotros</h2>

<form>
  <label>Nombre:</label>
  <input type="text" placeholder="Introduce tu nombre" required><br/>
  <label>Email:</label>
  <input type="email" placeholder="Introduce tu email" required><br/>
  <label>Telefono:</label>
  <input type="number" placeholder="Introduce tu teléfono" required><br/>
  <label>Asunto:</label>
  <input type="text" placeholder="Tema a tratar"><br/>
  <label>Descripción:</label>
  <textarea placeholder="Escribe tu duda"></textarea><br/>
  <button type="submit">Envia tus dudas</button>
</form>
<button routerLink="">Volver al inicio</button>
