
<app-menu></app-menu>

<div *ngIf="videojuego">

    <div class="container">
        <div class="imagen">
            <img [src]="videojuego.imagen" alt="{{ videojuego.titulo }}">
        </div>
        <div class = "informacion">
            <h2>{{ videojuego.titulo }}</h2>
            <p>Identicador: {{videojuego.id}}</p>
            <p>Compañía: {{ videojuego.compania }}</p>
            <p>Valoración Media: {{ videojuego.valoracionMedia }}</p>
            <button routerLink="/listado">Volver al Listado</button>
        </div>
    </div>
    
</div>
